.boxbox {
    display: flex;
    padding: 0 55px;
    overflow: hidden;
    overflow-x: scroll;
    width: 94vw; 
    height: 200px;
    align-items: center;
    background-color: black;
    border: none;
}

.boxbox p{
    font-size: 12px;
}

.item {
    padding: 2px;
    background-color: transparent;
    flex: 0 0 15%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    height: 100px;
    border: none;
    outline: none;
}

.item p{
    float: left;
    transform: translateY(35px);
    font-size: 16px;
    z-index: 100;
}

.item a{
    text-decoration: none;
    color: white;
}

.item img{
    height: auto;
    width: 100%;  
}

.boxbox:hover .item {
   transform: translateX(-25%);
}

.item:hover {
    transform: scale(1.5) !important;
}

.item:hover ~ .item {
   transform: translateX(25%);
}