html, body{
    margin: 0;   
    font-family: 'din-condensed', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}


* {
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../img/Default Banner.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    height: 75vh;
}

nav {
    background-color: black;
    z-index: 9999;
    width: 100%;
    height: 75px;
    position: fixed;
    padding-right: 3vw;
}

nav form {
    float: right;
    align-items: center;
    display: flex;
}

nav input[type=text] {
    border: none;
    border-bottom: 10px, #e50914;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 10vw;
}

nav button {
    height: 40px;
    width: 40px;
    text-decoration: none;
    background-color: #e50914;
    color: white;
    border: none;
}

nav img{
    width: 167px;
    height: 45px;
    vertical-align: middle;
    position: fixed;
}

nav a.logo{
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
}


header nav{ 
    height: 90px;
}

nav .signin{
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 18px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16;
    text-decoration: none;
}

.pitch{
    margin: 0 3%;
    position: absolute;
    top: 30%;
    font-size: 1.8vw;
}

.pitch_title{
    font-size: 2em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.pitch_subtitle{
    margin: 0 0 .5em;
}

.titlecard {
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.3vw;
    width: 40%;
}

.titlecard_title{
    font-size: 2em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.titlecard_subtitle{
    margin: 0 0 .5em;
}

.btn{
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    user-select: none;
    text-align: center;
    border: 0;
}

.watch {
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle; 
    user-select: none;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

nav .signin:hover, .btn:hover{
    background: #fff;
    color: #e50914;
}

nav .signin:hover, .watch:hover{
    background: #fff;
    color: #e50914;
}

#features > nav{
    padding-top: 35px;
    background-color: #141414;
    border-bottom: 2px solid #3d3d3d;
    
}

#features > nav a{
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
}

#features > nav a.hover{
    color: white;
}

#features > nav a img{
    height: 49px;
}

#features > nav a h2{
    margin: 10px 0 0;
    font-size: 1em;
}

.columns{
    display: flex;
}

.column{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.center{
    margin: 0 auto;
}

.size-80{
    width: 80%;
}

#features > nav a.is-selected{
    border-bottom: 5px solid #e50914;
    color: #fff;
}

#features > article > section{
    display: none;
    padding: 40px 0;
}

#features > article > section.is-selected{
    display: block;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ddd;
  width: 25%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #e50914;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

main {
    padding-left: 3vw;
    padding-right: 3vw;
}

.container {
    display: flex;
    padding: 0 55px;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%; 
    height: 200px;
    align-items: center;
    background-color: black;
}

.container p{
    font-size: 12px;
}

.item {
    padding: 2px;
    background-color: #404040;
    flex: 0 0 15%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    height: 100px;
    border: none;
}

.item p{
    float: left;
    transform: translateY(35px);
    font-size: 16px;
    z-index: 100;
}

.item a{
    text-decoration: none;
    color: white;
}

.item img{
    height: 100px;
    width: 100%;    
}

.container:hover .item {
   transform: translateX(-25%);
}

.item:hover {
    transform: scale(1.5) !important;
}

.item:hover ~ .item {
   transform: translateX(25%);
}

#opened1 {
    width: 100%;
    padding: 20px;
    background-image:url("../img/background.png");
    margin-top: 20px;
    display: none;
    height: 50vh;
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#opened1 button {
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    border-color: #e50914;
    height: 30px;
}

#opened1 img{
    height: inherit;
    width: 100%;
}