html, body{
    margin: 0;   
    font-family: 'din-condensed', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: 5px;
    width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.navbar {
    background-color: transparent;
    padding-left: 3%;
    padding-top: 1%;
}

.navbar-brand img {
    height: 3.75rem;
    vertical-align: middle;
}

.nav-link {
    color: #b33428;
}

header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../img/Default Banner.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    height: 75vh;
}

.pitch{
    margin: 0 3%;
    position: absolute;
    top: 30%;
    font-size: 1.8vw;
}

.pitch_title{
    font-size: 2em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.pitch_subtitle{
    margin: 0 0 .5em;
}

main {
    padding-left: 3%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navbar-brand img {
        height: 2rem;
    }
    
    header{
        height: 50vh;
    }
    
    .pitch{
        top: 25%;
        font-size: 1.8vh;
    }

    .pitch_title{
        font-size: 2em;
        margin: 0 0 0.2em;
        font-weight: 700;
    }

    .pitch_subtitle{
        margin: 0 0 .5em;
    }
}